body {
    background: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    overflow: auto; 
    border-bottom: 2px solid #808080;
    padding: 0 10%;
    background: #f5f5f5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

header div {
    float: left;
    padding: 1vw 3vh;
    font-size: 35px;
    background: #ffa500;
}

header nav {
    float: right;
    padding: 2vw 2vh;
}

header nav span .borderLines {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

header nav a {
    color: #000;
    text-decoration: none;
    padding: 0 5px;
}
/*End Header*/

main {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.6;
    display: flex;
    align-content: center;
    margin: 0 10%;
    background: #fff;
    margin-top: 5vw;
    margin-bottom: 10vw;
    padding: 0 10px 5px 10px;
}

.aboutMe img {
    float: left;
    margin-right: 2vh;
    border-radius: 1%;
}

.title {
    color: #ffa500;
    font-size: 36px;
    padding: 1vw 0 0 3vh;
}
/*End Main*/

footer {
    background: gray;
    border-top: 10px solid #ffa500;
    padding: 5vw 0 1vw 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

footer p {
    color: #f5f5f5;
}
/*End Footer*/

/*Portfolio Page*/
/*Try moving mymedic photo up another container. This might get our orange banner within the photo*/
.name {
    background: url(https://cdn.refersion.com/21263/creatives/05-30-18-08-39-09_Screen+Shot+2018-05-30+at+2.38.44+PM.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.name a {
    text-decoration: none;
    color: #000;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #ffa500;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 20%;
    opacity: .8;
    font-weight: bold;
}

/*Contact Page*/
section .button input {
    background: #ffa500;
    border-radius: 5%;
}